<a href="/">
  <img src="source/assets/images/svg/cherry.svg" alt="cherry logo" id="cherry-logo">
</a>
<nav>
  <a href="/cherry-ti">Início</a>
  <div class="dropdown">
    <button class="dropbtn">
      Áreas de TI
      <img src="source/assets/images/svg/arrow.svg" alt="point down" id="point-down">
    </button>
    <div class="dropdown-content">
      <ul>
        <li>
          <a href="/cherry-ti/analise_bi.html">
            <div class="dropdown-item">
              <div class="item-title">
                <i class="fas fa-chart-line"></i>
                <p>Análise BI</p>
              </div>
              <span class="item-description">Transforma dados brutos em informações para tomada de decisões empresariais embasadas.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/cherry-ti/analise_de_dados.html">
            <div class="dropdown-item">
              <div class="item-title">
                <i class="fas fa-database"></i>
                <p>Análise de Dados</p>
              </div>
              <span class="item-description">Geram, catalogam, analisam e interpretam dados para identificar padrões e solucionar problemas.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/cherry-ti/analise_de_ux.html">
            <div class="dropdown-item">
              <div class="item-title">
                <i class="fas fa-user-friends"></i>
                <p>Análise de UX</p>
              </div>
              <span class="item-description">Entende a experiência do usuário com produtos ou serviços, identificando pontos positivos e negativos e propondo soluções.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/cherry-ti/gestao_de_projetos_ti.html">
            <div class="dropdown-item">
              <div class="item-title">
                <i class="fas fa-briefcase"></i>
                <p>Gestão de projetos de TI</p>
              </div>
              <span class="item-description">Alinha demandas e controla o fluxo de trabalho para garantir entregas no prazo.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/cherry-ti/programacao.html">
            <div class="dropdown-item">
              <div class="item-title">
                <i class="fas fa-code"></i>
                <p>Programação</p>
              </div>
              <span class="item-description">Cria, testa e mantém softwares, desenvolvendo comandos e funcionalidades.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/cherry-ti/qualidade_de_software.html">
            <div class="dropdown-item">
              <div class="item-title">
                <i class="fas fa-check-double"></i>
                <p>Qualidade de software</p>
              </div>
              <span class="item-description">Garante o bom funcionamento de soluções tecnológicas, identificando e corrigindo erros.</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/cherry-ti/seguranca_da_informacao.html">
            <div class="dropdown-item">
              <div class="item-title">
                <i class="fas fa-lock"></i>
                <p>Segurança da informação</p>
              </div>
              <span class="item-description">Responsável pela defesa dos dados em uma rede, garantindo políticas e processos para circulação segura de informações.</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>